{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="bg-dark">
    <div class="container-fluid text-center text-light bg-success pb-3 pb-5">
            <h1> Hello, my name is Akbar!</h1>
            <img src="{% static 'img/photo.png'%}" alt="failed" width="7%">
    </div>
    <div class="container-fluid text-dark bg-primary pt-4 pb-4">
        <h3>Full name   : {{ name }}</h3>
        <h3>Student ID  : {{ npm }}</h3>
        <h3>Hobby       : Sleeping and procrastinating.</h3>
        <p class="font-weight-bold">Sophomore year student at University of Indonesia, majoring in Computer Science. Currently learning web-development.</p>
    </div>
</body>
</html>
